process {
    executor = 'slurm'
    queue = 'cpu-large'
    clusterOptions = '--account=gts-jstroud36 --qos=inferno'
    
    resourceLimits = [
        cpus: 24,
        memory: 128.GB,
        time: 24.h
    ]

    withName: 'SALMON_INDEX' {
        memory = 64.GB
        cpus = 12
    }
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = '/storage/project/r-jstroud36-0/tcooper84/singularity_cache'
}

executor {
    queueSize = 50
    pollInterval = '3 min'
    exitReadTimeout = '30 min'
}
