process {
    executor = 'slurm'
    queue = 'cpu-medium'
    clusterOptions = '--account=gts-jstroud36 --qos=inferno'
    
    resourceLimits = [
        cpus: 24,
        memory: 96.GB,
        time: 24.h
    ]
}

singularity {
    enabled = true
    autoMounts = true
}

singularity.cacheDir = '/storage/project/r-jstroud36-0/tcooper84/singularity_cache'
